@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Onest", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 160px;
    background-color: #f0f0f0;   
}

/* ==================== HEADER DO SITE ====================*/
.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 6;
    background-color: #f0f0f0;       
    border-bottom: 1px solid #d1d5db; 
    padding: 20px 0;
    box-shadow: 0px 3px 15px -7px #000000;
}

/* CONTAINER CENTRALIZADO */
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.nav-logo img {
    height: 50px;
    width: auto;
}

.nav-admin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-admin img {
    height: 50px;
    width: auto;
}

.nav-admin a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}
.nav-admin a:hover {
    color: #ff0000;
}

/* ==================== CRIAR E EDITAR ====================*/
/* Container inicial */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    margin: 20px auto; /* CENTRALIZA TUDO */
    background: #fff;
    padding: 30px;
    border-radius: 14px;

    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    animation: fadeIn 0.4s ease-in-out;
}

/* Título */
.form-container h2,
h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.7rem;
    color: #222;
}

/* ===== Inputs ===== */
form label {
    font-weight: 600;
    color: #444;
    display: block;
    margin-top: 12px;
}

form input,
form select {
    margin-top: 6px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    transition: 0.2s;
    background: #fafafa;
}

form input:focus,
form select:focus {
    border-color: #6a5acd;
    box-shadow: 0 0 4px rgba(106,90,205,0.3);
}

/* ===== Imagem Atual (editar) ===== */
.edit-img {
    display: block;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* ===== Botões ===== */
button,
.btn-criar {
    margin-top: 22px;
    width: 100%;
    padding: 12px;
    border: none;
    background: #6a5acd;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s ease;
}

button:hover,
.btn-criar:hover {
    background: #5a4ad0;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(106,90,205,0.35);
}

button:active,
.btn-criar:active {
    transform: translateY(0);
    box-shadow: none;
}